.titulo{
    font-size: 20px;
    color: blue;
}
.sub--yellow{
    font-size: 15px;
    color: rgb(27, 167, 120);
}

.sub--roxo{
    font-size: 15px;
    color: blueviolet;
}   

.paragrafo{
     font-size: 25px;
     color: brown;
}